<div class= "banner">
  <div class= "banner-container">
    <div class="text-container">
      <h1>Save any kind of movies</h1>
      <p>classic</p>
    </div>
    <div class = "button-container">
      <button class = "banner_btn btn btn-outline-secondary btn-lg"><%= link_to "create a movie list", new_list_path %></button>
    </div>
  </div>
</div>

<div class="container">
<h2>My lists</h2>
<div class="cards card-grid links-cards">
  <% @lists.each do |list| %>
    <div class = "list-card card background-card">
      <%= link_to list.name, list_path(list)  %>
    </div>
  <% end  %>
</div>

   
 
</div>


