.banner{
    position: relative;
    background-color: $navy ;
    height: 500px;
    width: 100%;
    color: $beige;  
    background-image: url(asset_path("3.jpg"));
    //background-size: 90% 100%;
    background-repeat: no-repeat;
    //background-position: center;
}
.banner-container{
    position: absolute;
    margin-top: 200px;
    margin-left: 530px;
    text-align: center;
    width: 60%;
    h2 {
        text-align: center;
        color: $beige;
    }
}
