.banner{
    position: relative;
    background-color: $beige ;
    height:500px;
    width: 100%;
    color: $navy;  
     background-image: url(asset_path("2.jpg"));
     background-size: 100% 100%;
     //background-repeat: no-repeat;
     //background-clip:  ;
}
.banner-container{
    position: absolute;
    margin-top: 200px;
    margin-left: 530px;
    text-align: center;
    width: 60%;
    h2 {
        text-align: center;
        color: $beige;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
