.button-container{
    text-align: end;
    margin-right: 20px;
    margin-top: 70px;
    
}
.button-container a{
    color: $navy;
    text-decoration: none;
}
.button-container:hover{
    a{
        color: $beige;
        text-decoration: none;
    }
}