.button-container{
    text-align: end;
    margin-right: 20px;
    margin-top: 170px;
    button{
        border-radius: 15px;
    }
}
.button-container a{
    color: $navy;
    text-decoration: none;
    &:hover{
        color: #eee;
    }
}
