.button-container{
    text-align: end;
    margin-right: 70px;
    margin-top: 50px;
}
.button-container a{
    color: $beige;
    text-decoration: none;
}
.button-container:hover{
    a{
        color: $navy;
        text-decoration: none;
    }
}