// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "buttons";
@import "card";


body{
    background-color: #f1d1d1;
    background-image: url(asset_path("1.jpg"));
}
.lists-container{
    display: flex;
}
